.sandbox__container {
  display: flex;
  flex-direction: column;

}

.builder__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.builder__menu button {
  width: 100%;
}

.sidebar {
  background-color: #1f2626;
  display: flex;
  gap: 1rem;
}

.sidebar__header {
  width: 100%;
  padding: 1rem 0;
  background-color: #1c2222;
  color: white;
}

.sidebar__content {
  padding: 1rem;

  display: flex;
  gap: 1rem;
}

.sidebar__content button {
  padding: 0.5rem 0;
}

.test-form fieldset {
  display: flex;
}

.debug-form {
  display: flex;
}

fieldset legend {
  color: white;
}

.debug-word {
  color: white;
}
